@model AdministradorNivel.Models.LEVEL1

@{
    ViewBag.Title = "Details";
}


<div class="w-100 text-center">
    <div class="text-center">
        <h6  style="color: #15468e; font-family:Arial, Helvetica, sans-serif">NIVEL1</h6>
    </div>
    <h4 class="lineasTitulo text-center" style="font-family:Arial, Helvetica, sans-serif">DETALLES</h4>
</div>
<div class="row" style="height:50px;"></div>

<div class="text-center">

    <hr />
    <dl class="dl-horizontal">
        <dt>
            NOMBRE_NIVEL1
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME_LEVEL1)
        </dd>

    </dl>
</div>
<div class="row" style="height:50px;"></div>
<p class="text-center">
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_LEVEL1 }, new { @class = "btn btn-outline-success" }) |
    @Html.ActionLink("<<Atras", "Index",null, new { @class = "btn btn-outline-primary" })
</p>
