@model AdministradorNivel.Models.LEVEL2

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>NIVEL2</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            NOMBRE_NIVEL2
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME_LEVEL2)
        </dd>

        <dt>
            NOMBRE_NIVEL1
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LEVEL1.NAME_LEVEL1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_LEVEL2 }) |
    @Html.ActionLink("<<Atras", "Index")
</p>
