@model Nivel4.Models.LEVEL1

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LEVEL1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NAME_LEVEL1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME_LEVEL1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_LEVEL1 }) |
    @Html.ActionLink("Back to List", "Index")
</p>
