
<div id="flotante" style="display:none; margin-top:-3px;">

    <div class="letra d-flex  justify-content-start pl-2 pt-2" style="background-color:#48a7f7;width:356px; height: 50px; font-size:22px; color: white;">
        Menu dinamico
        <div id="close"><a href="javascript:cerrar();" style="font-size:22px; color: white;margin-left:100px; ">Ocultar</a></div>

    </div>
    <ul id="menu" class="btn-group-vertical" role="group">
        @*Model es la variable listamenu devuelta por el método de acción vistaparcial del menuController
            que son los registros del nivel 1:*@
        @foreach (var item in Model)
        {
            <li class="boton btn btn-block letra font-weight-bold" role="button">
                @item.NAME
                @if (item.MENU0061.Count > 0)
                {
                    <ul>
                        @foreach (var sub in item.MENU0061)
                        {
                            <li class="boton btn btn-block  letra">
                                @sub.NAME
                                @if (sub.MENU0061.Count > 0)
                                {
                                    <ul>
                                        @foreach (var lvl in sub.MENU0061)
                                        {
                                            <li class="boton btn btn-block letra">
                                                @lvl.NAME
                                                @if (lvl.MENU0061.Count > 0)
                                                {
                                                    <ul>
                                                        @foreach (var cuarto in lvl.MENU0061)
                                                        {
                                                            <li class="boton btn btn-block letra">
                                                                @cuarto.NAME
                                                            </li>
                                                        }
                                                    </ul>
                                                }
                                            </li>
                                        }
                                    </ul>
                                }
                            </li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script>
        $(function () {
            $("menu").menu();
        });</script>

</div>
<div class="row" style="height:50px;">

</div>
