@{
    ViewBag.Title = "Home Page";
}
@{ Html.RenderAction("VistaParcial", "MenuDinamico");}
<hr />

<div class="row">
    <div class="col text-lg-center">
        <h6>El poder del código solo es completo, si tenemos el conocimiento de cómo usarlo.</h6>
    </div>

</div>

<div class="row">
    <div class="col text-lg-center">
        <h3>Implementación de la funcionalidad de esta aplicación.</h3>
    </div>

   
</div>
<div class="row justify-content-center">
    <div class="col col-lg-8"style="background-color:#eeeeee">
        <p>
            Dentro de nuestra interface hemos incluido un menu Horizontal con los diferentes niveles y un menu Dinamico.<br />
            En cada nivel del menu Horizontal se cuenta con los métodos que se necesitan para poder ofrecer las funciones básicas de acceso al Modelo.<br />
            <b> Las funciones son los siguientes:</b> <br />
        </p>


        <p>
            <ul>
                <li><b>CREAR_NUEVO</b>: Crea o agregar nuevas entradas; para crear un nuevo registro.</li>
                <li><b>EDITAR</b>: Actualizar o editar entradas existentes.</li>
                <li><b>DETALLES</b>: Leer, recuperar, buscar o ver entradas existentes.</li>
                <li><b>ElIMINAR</b>: Desactivar o eliminar entradas existentes; partir de un identificador.</li>
                
            </ul>
            
            
            
        </p>
    </div>

   

</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>