@model AdministradorNivel.Models.LEVEL3

@{
    ViewBag.Title = "Details";
}
<h4>NIVEL3</h4>
<h2>DETALLES</h2>
<div class="row" style="height:50px;"></div>

<div>
    
    <dl class="dl-horizontal">
        <dt>
            NOMBRE_NIVEL3
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME_LEVEL3)
        </dd>

        <dt>
            NOMBRE_NIVEL2
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LEVEL2.NAME_LEVEL2)
        </dd>

    </dl>
</div>
<div class="row" style="height:50px;"></div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_LEVEL3 } , new { @class = "btn btn-outline-success" }) |
    @Html.ActionLink("<<Atras", "Index", null, new { @class = "btn btn-outline-primary" })
</p>
