body {
     padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*menu horizontal*/
header {
    width: 100%;
    background: #15468e;
    position: fixed;
    z-index: 100;
}

#btn-menu{
    display:none;
}

header label{
    display:none;
    
    
}

header label:hover{
    cursor:pointer;
    background:#15468e;
}

.menu ul{
    margin:0px;
    list-style:none;
    padding:0;
    display:flex;
}

.menu li:hover{
    background: rgba( 0,0, 0, 0.3);

}

.menu li a{
    display:block;
    padding: 15px 20px;
    color:white;
    text-decoration:none;
}
ul li.active a {
    background: rgba( 0,0, 0, 0.3);
}



@media(max-width:768px){

    header label{
        display:block;
    }

    .menu {
        position: absolute;
        background: #15468e;
        width: 50%;
        margin-left: -51%;
        transition: 0.5s;
    }
    .menu ul{
        flex-direction:column;
        margin-top:-5px;

    }
    .menu actual{
        background:#fff;
    }
   

    #btn-menu:checked ~ .menu{
        margin:-2px;

    }

}

.lineasTitulo {
    display: inline-block;
    position: relative;
}

    .lineasTitulo::after, .lineasTitulo::before {
        content: '';
        position: absolute;
        width: 250px;
        height: 3px;
        background-color: currentColor;
        top: 0.6em
    }

    .lineasTitulo::after {
        right: 120%;
    }

    .lineasTitulo::before {
        left: 120%;
    }


.lineasTitulo2 {
    display: inline-block;
    position: relative;
}

    .lineasTitulo2::after, .lineasTitulo2::before {
        content: '';
        position: absolute;
        width: 100px;
        height: 2px;
        background-color: currentColor;
        top: 0.6em
    }

    .lineasTitulo2::after {
        right: 120%;
    }

    .lineasTitulo2::before {
        left: 120%;
    }
